<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Steven's Todo App</a>

        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link" >Todo's</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/newTodo">Completed Todo's</a>
            </li>
        </ul>

        <form #newTodoForm="ngForm" class="d-flex">
            <input name="title" 
            class="form-control me-2" 
            placeholder="this will be login eventually">
            <button class="btn btn-outline-success">login</button>
        </form>

    </div>
</nav>