<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row">
      <div class="col text-end mb-2">
        <select (change)="changeFilter($event)" class="form-select w-auto d-inline">
          <option value="all" [selected]="currentFilter === 'all'">All</option>
          <option value="completed" [selected]="currentFilter === 'completed'">Completed</option>
          <option value="incomplete" [selected]="currentFilter === 'incomplete'">Incomplete</option>
          <option value="deleted" [selected]="currentFilter === 'deleted'">Deleted</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h1 class="fw-light">{{listName}}</h1>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
      @for (todo of visibleTodos; track todo.id) {
      <div class="col d-flex justify-content-center">
        <app-todo-card [todo]="todo" [isInList]="true" class="shadow-sm"></app-todo-card>
      </div>
      }
    </div>
  </div>
</div>